{% extends 'client/template.html' %}

{% block content %}

<div class="min-h-screen text-white flex">
    <div class="md:block hidden w-1/4 p-6">
        <!-- Sidebar Container -->
        <div class="fixed p-4 border rounded-lg border-gray-700">
            <!-- Heading -->
            <h2 class="text-lg font-semibold mb-6 gloock-regular tracking-wider">FREQUENTLY ASKED QUESTIONS</h2>
            <!-- List of FAQs -->
            <ul class="space-y-6 text-sm tracking-wider">
                {% for faq in faq_sections %}
                    <!-- Onclick event to smooth scroll -->
                    <li class="cursor-pointer hover:text-gray-300" onclick="scrollToSection('{{ faq.question|slugify }}')">
                        {{ faq.question }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="max-w-3xl mx-auto md:mx-2 p-8">
        {% for faq in faq_sections %}
            <!-- Use slugify to handle spaces and special characters -->
            <section id="{{ faq.question|slugify }}" class="mb-8">
                <h3 class="text-2xl font-semibold mb-4 gloock-regular tracking-wider">{{ faq.question }}</h3>
                <p class="leading-relaxed">
                    {{ faq.answer|safe }}
                </p>
            </section>
        {% endfor %}
    </div>
</div>

<script>
    function scrollToSection(id) {
        const element = document.getElementById(id);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>

{% endblock content %}
