{% extends 'client/template.html' %}

{% block content %}
{% load static %}

{% load static %}

    <div class="w-full flex py-8">
        <div class="md:block hidden md:w-2/5 w-full">
            <aside class="w-1/4 p-6">
                <div class="fixed p-6 border rounded-lg border-gray-700">
                    <h2 class="text-lg font-bold mb-4">Edit Profile</h2>
                    <ul class="space-y-5 text-sm tracking-wider">
                        <li class="mb-2 cursor-pointer hover:text-gray-300" onclick="scrollToSection('basic-info')">
                            Basic Information
                        </li>
                        <li class="mb-2 cursor-pointer hover:text-gray-300" onclick="scrollToSection('additional-info')">
                            Additional Information
                        </li>
                        <li class="mb-2 cursor-pointer hover:text-gray-300" onclick="scrollToSection('profile')">
                            Profile / Visual Uploads
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="md:w-3/5 w-full mb-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="basic-info" class="mb-4 space-y-4 max-w-lg border border-gray-800 rounded-xl p-6">
                    <!-- Name Field -->
                    <div class="relative">
                        <label class="block mb-1">Name</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <input type="text" name="name" value="{{ request.user.name }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <!-- Email Field -->
                    <div class="relative">
                        <label class="block mb-1">Email</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                        </span>
                        <input type="email" name="email" value="{{ request.user.email }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <!-- Phone Field -->
                    <div class="relative">
                        <label class="block mb-1">Phone Number</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25Z" />
                            </svg>
                        </span>
                        <input type="tel" name="phone" value="{{ request.user.phone }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <!-- Firm Name Field -->
                    <div class="relative">
                        <label class="block mb-1">Firm Name</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                            </svg>
                        </span>
                        <input type="text" name="firmName" value="{{ request.user.firmName }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>

                    <!-- Address Field -->
                    <div class="relative">
                        <label class="block mb-1">Firm Address</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                        </span>
                        <input type="text" name="address" value="{{ request.user.address }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <!-- Country Select Field -->
                    <div class="relative mt-4">
                        <label class="block mb-1">Country</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                        <select name="country" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                            <option value="">Select Country</option>
                            <option value="USA">USA</option>
                            <option value="Canada">Canada</option>
                            <option value="UK">UK</option>
                        </select>
                    </div>

                    <!-- State Select Field -->
                    <div class="relative mt-4">
                        <label class="block mb-1">State</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                        <select name="state" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                            <option value="">Select State</option>
                            <option value="California">California</option>
                            <option value="Texas">Texas</option>
                            <option value="New York">New York</option>
                        </select>
                    </div>

                    <!-- City Select Field -->
                    <div class="relative mt-4">
                        <label class="block mb-1">City</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                        <select name="city" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                            <option value="">Select City</option>
                            <option value="Los Angeles">Los Angeles</option>
                            <option value="Houston">Houston</option>
                            <option value="New York City">New York City</option>
                        </select>
                    </div>

                    <!-- Code Input Field -->
                    <div class="relative mt-4">
                        <label class="block mb-1">Code</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </span>
                        <input type="text" name="code" value="{{ request.user.code }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>
                </div>

                <div id="additional-info" class="mb-4 space-y-4 max-w-lg border border-gray-800 rounded-xl p-6">
                    <!-- Brief Bio Field -->
                    <div class="mb-4">
                        <label class="block text-white mb-2">Brief Bio</label>
                        <textarea name="briefBio" class="w-full text-md p-4 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" style="min-height: 200px;">{{ request.user.briefBio }}</textarea>
                    </div>

                    <!-- Category Field -->
                    <div class="relative">
                        <label class="block mb-1">Category</label>
                        <select name="category" class="w-full text-md p-4 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="" disabled>Select a category</option>
                            <option value="category1">Category 1</option>
                            <option value="category2">Category 2</option>
                            <option value="category3">Category 3</option>
                        </select>
                    </div>

                    <!-- Social Links Fields -->
                    <div class="relative">
                        <label class="block mb-1">Social Links</label>
                        <input type="url" name="facebook" value="{{ request.user.socialLinks.facebook }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                    <div class="relative">
                        <input type="url" name="instagram" value="{{ request.user.socialLinks.instagram }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                </div>

                <div id="profile" class="mb-4 space-y-4 max-w-4xl">
                    <div class="grid lg:grid-cols-3 grid-cols-1 gap-2 border border-gray-800 rounded-xl p-6">
                        <!-- Profile Picture Field -->
                        <div class="relative">
                            <label class="block mb-1">Profile Picture</label>
                            <input type="file" name="profilePic" accept="image/*" class="hidden" id="profilePicInput">
                            <div class="relative border border-dashed border-gray-500 min-h-48 rounded-lg bg-[#101010]">
                                {% if request.user.profilePic %}
                                    <img src="{{ request.user.profilePic }}" alt="Profile Pic" class="mt-4 w-32 h-32 rounded-full object-cover border mx-auto">
                                {% endif %}
                                <div class="absolute right-2 bottom-2">
                                    <div class="flex gap-1">
                                        <button type="button" class="p-2 rounded-md border" onclick="document.getElementById('profilePicInput').click();">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2Z" />
                                            </svg>
                                        </button>
                                        <button type="button" class="p-2 rounded-md border">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9Zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9Z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Brand Picture Field -->
                        <div class="relative">
                            <label class="block mb-1">Brand Logo</label>
                            <input type="file" name="brandPic" accept="image/*" class="hidden" id="brandPicInput">
                            <div class="relative border border-dashed border-gray-500 min-h-48 rounded-lg bg-[#101010]">
                                {% if request.user.brandpic %}
                                    <img src="{{ request.user.brandpic }}" alt="Brand Pic" class="mt-4 w-auto h-32 rounded-md object-fit border mx-auto">
                                {% endif %}
                                <div class="absolute right-2 bottom-2">
                                    <div class="flex gap-1">
                                        <button type="button" class="p-2 rounded-md border" onclick="document.getElementById('brandPicInput').click();">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2Z" />
                                            </svg>
                                        </button>
                                        <button type="button" class="p-2 rounded-md border">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9Zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9Z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                                                <!-- PDF Upload Field -->
                                                <div class="relative">
                                                    <label class="block mb-1">Upload PDF</label>
                                                    <input type="file" name="uploadedPdf" accept="application/pdf" class="hidden" id="pdfInput">
                                                    <div class="relative border border-dashed border-gray-500 min-h-48 rounded-lg bg-[#101010]">
                                                        {% if request.user.uploadedPdf %}
                                                            <div class="m-4 w-fit text-sm text-black p-2 rounded-lg bg-white">Uploaded PDF: {{ request.user.uploadedPdf.name }}</div>
                                                        {% endif %}
                                                        <div class="absolute right-2 bottom-2">
                                                            <div class="flex gap-1">
                                                                <button type="button" class="p-2 rounded-md border" onclick="document.getElementById('pdfInput').click();">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2Z" />
                                                                    </svg>
                                                                </button>
                                                                <button type="button" class="p-2 rounded-md border">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9Zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9Z" clip-rule="evenodd" />
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Showcase Images Field -->
                                                <div class="relative border border-gray-800 rounded-xl p-6">
                                                    <label class="block mb-1">Showcase Images (max 10)</label>
                                                    <input type="file" name="showcaseImages" accept="image/*" multiple class="hidden" id="showcaseImagesInput">
                                                    <div class="relative border border-dashed border-gray-500 min-h-48 rounded-lg bg-[#101010]">
                                                        {% if request.user.showcaseImages %}
                                                            <div class="mt-4 flex flex-wrap gap-2">
                                                                {% for image in request.user.showcaseImages %}
                                                                    <div class="relative">
                                                                        <img src="{{ image }}" alt="Showcase" class="w-32 h-32 object-cover border rounded">
                                                                        <button type="button" class="absolute top-0 right-0 bg-black/50 rounded-full p-1.5 px-3" onclick="removeImage(this)">x</button>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                        <div class="absolute right-2 bottom-2">
                                                            <div class="flex gap-1">
                                                                <button type="button" class="p-2 rounded-md border" onclick="document.getElementById('showcaseImagesInput').click();">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2Z" />
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="fixed bottom-0 p-4 left-0 right-0 bg-black border-t border-slate-700">
                                            <div class="flex justify-end space-x-2">
                                                <button type="submit" class="px-8 py-3 bg-violet-700 text-white font-semibold rounded-lg shadow-lg">
                                                    Update Profile
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            
    </div>
    <script>
        function scrollToSection(id) {
            const section = document.getElementById(id);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>


{% endblock content %}
