{% extends 'client/template.html' %}

{% block content %}


{% load static %}

<style>
option{
    color:black !important;
}

</style>

    <div class="w-full flex py-8">
        <div class="md:block hidden md:w-1/4 p-6 w-[30%]">
            <aside class="w-1/4 p-6">
                <div class="fixed p-6 border rounded-lg border-gray-700">
                    <h2 class="text-lg font-bold mb-4">Edit Profile</h2>
                    <ul class="space-y-5 text-sm tracking-wider">
                        <li class="mb-2 cursor-pointer hover:text-gray-300" onclick="scrollToSection('basic-info')">
                            Basic Information
                        </li>
                        <li class="mb-2 cursor-pointer hover:text-gray-300" onclick="scrollToSection('additional-info')">
                            Additional Information
                        </li>
                        <li class="mb-2 cursor-pointer hover:text-gray-300" onclick="scrollToSection('profile')">
                            Profile / Visual Uploads
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="md:w-3/5 w-full p-4 mb-12">
            
            <form method="POST" action="{% url 'profile' %}?type=basic_info"  class="w-full" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="basic-info" class="mb-4 space-y-4 border border-gray-800 rounded-xl p-6 grid lg:grid-cols-2 grid-cols-1 gap-6" style="">
                    <!-- Name Field -->
                    
                        
                     
                    <div class="relative w-full ">
                        <label class="block mb-1">Brand Name</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <input type="text" name="brand_name" value="{{ user.brand_name }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <div class="relative w-full ">
                        <label class="block mb-1">Contact Person Name</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <input type="text" name="contact_person_name" value="{{ user.contact_person }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <div class="relative w-full ">
                        <label class="block mb-1">Designation</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <input type="text" name="designation" value="{{ user.designation }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>


                    <!-- Email Field -->
                    <div class="relative w-full">
                        <label class="block mb-1" title="Can't Change">Email <span style="color:red;font-size:10px">* Can't Edit *</span>  </label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                        </span>
                        <input type="email" name="email" disabled title="Can't Change" value="{{ user.email }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    
                    </div>

                    <!-- Phone Field -->
                    <div class="relative w-full">
                        <label class="block mb-1">Phone Number</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25Z" />
                            </svg>
                        </span>
                        <input type="tel" name="mobile" value="{{ user.mobile }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    
                        
                        
                   

                    <!-- Address Field -->
                    <div class="relative w-full">
                        <label class="block mb-1">Company Address</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                        </span>
                        <input type="text" name="firmAddress" value="{{ user.address }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>

                    <!-- Country Select Field -->
                    <div class="relative  mt-4  w-full">
                        <label class="block mb-1">Country</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                        <select name="country" id="country" onchange="fetchStates()" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="">Select Country</option>
                            <!-- Add more country options here -->
                        </select>
                    </div>

                    <!-- State Select Field -->
                    <div class="relative  mt-4  w-full">
                        <label class="block mb-1">State</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                        <select name="state" id="state" onchange="fetchCities()" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="" readonly>Select State</option>
                           
                        </select>
                    </div>

                    <!-- City Select Field -->
                    <div class="relative  mt-4  w-full">
                        <label class="block mb-1">City</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </span>
                        <select name="city" id="city" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="">Select City</option>
                          
                        </select>
                    </div>

                    <!-- Code Input Field -->
                    <div class="relative  mt-4  w-full">
                        <label class="block mb-1">Zip Code</label>
                        <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </span>
                        <input type="number" name="pincode" value="{{ user.zip_code }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    </div>
                </div>
                <div class="w-full  flex justify-end space-x-2">
                    <button type="submit" class="px-8 py-3 bg-violet-700 text-white font-semibold rounded-lg shadow-lg">
                        Update Profile
                    </button>
                </div>
            </form>

            <form method="POST" action="{% url 'profile' %}?type=professional" class="w-full"  enctype="multipart/form-data">
                {% csrf_token %}
                <div id="additional-info" class="mb-4 space-y-4  border border-gray-800 rounded-xl p-6 grid  grid-cols-1" style="">
                    <!-- Brief Bio Field -->
                  

                    <!-- Category Field -->
                    <div class="relative w-[100%]">
                        <label class="block mb-1">Category</label>
                        <button type="button" class="rounded-lg bg-violet-700 p-2 px-4 hover:bg-violet-600 btn btn-primary mt-3" id="add-category-btn">Add Category</button>

                        <!-- Hidden input to hold the list of selected categories -->
                        <input type="hidden" name="new_categories" id="selected_categories" value="{% for i in user.category.all %}{{i.id}}{% if not forloop.last %},{% endif %}{% endfor %}">
                        
                        <div id="category-container">
                        </div>
                    
                    </div>

                    

                    <div class="flex justify-end space-x-2">
                        <button type="submit" class="px-8 py-3 bg-violet-700 text-white font-semibold rounded-lg shadow-lg">
                            Save
                        </button>
                    </div>
                </div>
            </form>

            <div id="profile" class="mb-4 space-y-4 max-w-4xl">
                <label class="block mb-1">Categories Data Edit</label>
                <div class="border border-gray-800 rounded-xl p-6">

                    <!-- Accordion Wrapper -->
                    <div id="accordionExample" class="accordion">
                        {% for i in user.profile.all %}

                        <!-- Accordion Item -->
                        <div class="accordion-item mb-4">
                    
                            <!-- Accordion Header -->
                            <h2 class="accordion-header mb-0" id="heading{{ forloop.counter }}">
                                <button 
                                    class="accordion-button collapsed relative flex md:flex-row flex-col items-start md:items-center w-full py-4 px-6 text-white bg-[#171717] border border-gray-700 rounded-xl text-left focus:outline-none transition-all duration-300"
                                    type="button" 
                                    data-accordion-target="#collapse{{ forloop.counter }}" 
                                    aria-expanded="false" 
                                    aria-controls="collapse{{ forloop.counter }}"
                                    >
                                    <span class="flex md:items-center w-full md:flex-row md:justify-between" >
                                        <span>Profile {{ forloop.counter }}: {{ i.category.get_category_hierarchy }}</span>
                                         {% if i.is_active %}
                                        <span class="text-green-500 text-xs inline-flex item-center gap-1">
                                            
                                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                              </svg>
                                              <small>Verified</small>
                                              
                                               </span>
                                            {% else %}
                                            <span class="text-red-500 text-xs inline-flex item-center gap-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                  </svg>
                                                  <small>Not Verified</small>
                                                </span>
                                                {% endif %}
                                                
                                            </span>
                                            <div class=" flex  gap-2 items-center justify-between ">
        
                                                <a href="{% url 'brand_info' i.category.get_category_hierarchy user.uid %}" target="_blank" class="px-8 mx-3 py-3 bg-violet-700 text-white font-semibold rounded-lg shadow-lg">View</a>
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
                                                      </svg>
                                                      
                                                </span>
                                            </div>
                                    {% comment %} <span style="display:flex;justify-content: space-between;width: 100%;">
                                        <span>Profile {{ forloop.counter }}: {{ i.category.get_category_hierarchy }}</span> 
                                        {% if i.is_active %}
                                        <span style="color:green">**  Verified</span>
                                            {% else %}
                                            <span style="color:red">** Not Verified</span>

                                        {% endif %}
                                    </span>
                                        <a href="{% url 'brand_info' i.category.get_category_hierarchy user.uid %} "class="px-8 mx-3 py-3 bg-violet-700 text-white font-semibold rounded-lg shadow-lg">View</a> {% endcomment %}
                                </button>
                            </h2>

                    
                            <!-- Accordion Body -->
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse max-h-0 overflow-hidden transition-all duration-300 ease-out" aria-labelledby="heading{{ forloop.counter }}" data-accordion-parent="#accordionExample">
                                <div class="accordion-body py-4 px-6  text-white rounded-lg">
                                    <!-- Editable Form for Each Profile -->
                                    <form action="{% url 'profile' %}?type=professional&id={{i.id}}" method="POST" class="space-y-4" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="relative  mt-4  w-full">
                                            <label class="block mb-1">Visible to everyone   
                                            {% if not i.is_active %}
                                                <span style="font-size:12px;color:red">** Not Verified</span>
                                            {% endif %}
                                                  </label>
                                            <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </span>
                                            <select name="visible{{i.id}}" {% if not i.is_active %}
                                            disabled
                                        {% endif %}id="visible" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                                <option value="No">No</option>
                                                <option value="Yes" 
                                                {% if i.visible  %}
                                                    selected
                                                {% endif %}
                                                     >Yes</option>
                                              
                                            </select>
                                        </div>


                                        <div class="relative  mt-4  w-full">
                                            <label class="block mb-1">Brand Name</label>
                                            <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </span>
                                            <input type="text" name="brand_name{{i.id}}" value="{{ i.brand_name }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                                        </div>

                                        <div class="relative  mt-4  w-full">
                                            <label class="block mb-1">Contact Person</label>
                                            <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </span>
                                            <input type="text" name="contact_person{{i.id}}" value="{{ i.contact_person }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                                        </div>
                                        <div class="relative  mt-4  w-full">
                                            <label class="block mb-1">Contact Number</label>
                                            <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </span>
                                            <input type="text" name="contact_number{{i.id}}" value="{{ i.contact_number }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                                        </div>
                                     
                                        <div class="relative  mt-4  w-full">
                                            <label class="block mb-1">Designation</label>
                                            <span class="absolute inset-y-0 top-8 left-0 flex items-center pl-3 text-gray-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </span>
                                            <input type="text" name="designation{{i.id}}" value="{{ i.designation }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                                        </div>

                                        <div class="mb-4 w-[100%]">
                                            <label class="block text-white mb-2">Brief Bio</label>
                                            <textarea name="bio{{i.id}}" id="bio-editor-{{ forloop.counter }}" placeholder="Write a brief bio" class="editor w-full h-full resize-none bg-transparent border-none focus:outline-none">{{ i.bio |safe }}</textarea>
                                        </div>
                                        
                                        <!-- Social Links Fields -->
                                        <div class="grid lg:grid-cols-3 grid-cols-1 gap-4">
                                            <div class="relative w-full">
                                                <label class="block mb-1">Facebook</label>
                                                <input type="url" name="facebook{{i.id}}" value="{{ i.social_links.facebook }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                            </div>
                                            <div class="relative w-full">
                                                <label class="block mb-1">Instagram</label>
                                                <input type="url" name="instagram{{i.id}}" value="{{ i.social_links.instagram }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                            </div>
                                            <div class="relative w-full">
                                                <label class="block mb-1">LinkedIn</label>
                                                <input type="url" name="linkedin{{i.id}}" value="{{ i.social_links.linkedin }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                            </div>
                                            <div class="relative w-full">
                                                <label class="block mb-1">Website</label>
                                                <input type="url" name="website{{i.id}}" value="{{ i.social_links.website }}" class="w-full text-md p-4 pl-10 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                            </div>
                                        </div>
                        
                                        <!-- File Upload Fields for Profile Picture, Brand Logo, and Document -->
                                        <div class="my-4 grid lg:grid-cols-3 grid-cols-1 gap-4">
                                            <!-- Profile Picture -->
                                            <div class="relative w-full">
                                                <label class="block mb-1">Profile Picture</label>
                                                <input type="file" name="profilepic{{i.id}}" accept="image/*" class="hidden" id="profilePicInput{{ forloop.counter }}" onchange="previewImage(event, 'profilePicPreview{{ forloop.counter }}')">
                                                <div class="relative border border-dashed border-gray-500 h-64 rounded-lg bg-[#101010]">
                                                    <img id="profilePicPreview{{ forloop.counter }}" src="{% if i.profile_pic %}{{ i.profile_pic.url }}{% endif %}" alt="Profile Pic" class="mt-4 h-56 border mx-auto">
                                                    <div class="absolute right-2 bottom-2">
                                                        <div class="flex gap-1">
                                                            <button type="button" class="p-2 rounded-md border" onclick="document.getElementById('profilePicInput{{ forloop.counter }}').click();">
                                                                <i class="ri-edit-line"></i> Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <!-- Brand Logo in Form -->
                                            <div class="relative w-full">
                                                <label class="block mb-1">Brand Logo</label>
                                                <div class="relative border border-dashed border-gray-500 h-64 rounded-lg bg-[#101010]">
                                                    <img id="brandPicPreview{{ forloop.counter }}" src="{% if i.brand_logo %}{{ i.brand_logo.url }}{% endif %}" alt="Brand Logo" class="mt-4 h-32 rounded-md object-fit border mx-auto">
                                                    <div class="absolute right-2 bottom-2">
                                                        <div class="flex gap-1">
                                                            <button type="button" class="p-2 rounded-md border" onclick="openModal('{{ forloop.counter }}')">
                                                                <i class="ri-edit-line"></i> Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal for uploading and previewing image in 1:1 and 3:4 -->
                                            <div id="uploadModal{{ forloop.counter }}" class="fixed inset-0 z-50 hidden flex items-center justify-center bg-black bg-opacity-50 backdrop-blur">
                                                <div class="bg-[#171717] p-5 rounded-lg shadow-lg w-[90%] max-w-lg">
                                                    <div class="text-right">
                                                        <button class="text-gray-600" onclick="closeModal('{{ forloop.counter }}')">&times;</button>
                                                    </div>
                                                    <div class="mb-4">
                                                        <h2 class="text-xl font-bold mb-2">Upload Brand Logo</h2>
                                                    </div>
                                                    <div>
                                                        <label for="brandPicInput{{ forloop.counter }}" class="block mb-2">Choose Image</label>
                                                        <input type="file" name="brandlogo{{i.id}}" accept="image/*" class="w-full p-2 border rounded-md" id="brandPicInput{{ forloop.counter }}" onchange="previewImage(event, '{{ forloop.counter }}')">
                                                    </div>

                                                    <div class="mt-4 flex justify-around">
                                                        <div class="">
                                                            <!-- Preview for 1:1 ratio -->
                                                            <div class="w-24 h-24 border border-gray-300 rounded-md overflow-hidden">
                                                                <img id="brandPicPreviewModal1x1{{ forloop.counter }}" class="object-cover w-full h-full" src="{% if i.brand_logo %}{{ i.brand_logo.url }}{% endif %}" alt="Brand Logo 1:1">
                                                            </div>
                                                            <span class="py-2 text-xs">Brand Tile view</span>
                                                        </div>
                                                        <div class="">
                                                            <!-- Preview for 4:3 ratio -->
                                                            <div class="w-auto h-24 border border-gray-300 rounded-md overflow-hidden">
                                                                <img id="brandPicPreviewModal3x4{{ forloop.counter }}" class="object-cover w-full h-full" src="{% if i.brand_logo %}{{ i.brand_logo.url }}{% endif %}" alt="Brand Logo 3:4">
                                                            </div>
                                                            <span class="py-2 text-xs">Profile Tile view</span>
                                                        </div>
                                                    </div>

                                                    <div class="mt-4 flex justify-end">
                                                        <button type="button" class="p-2 bg-blue-600 text-white rounded-md" onclick="closeModal('{{ forloop.counter }}')">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- Profile Document -->
                                            <div class="relative w-full">
                                                <label class="block mb-1">Profile Document</label>
                                                <input type="file" name="profileDocInput{{i.id}}" accept="application/pdf" class="hidden" id="profileDocInput{{ forloop.counter }}">
                                                <div id="profileDocContainer{{ forloop.counter }}" class="border-dashed mt-2 min-h-48 rounded-lg border-2 flex flex-col border-gray-700 bg-[#101010] p-4 text-center">
                                                    <a {% if i.profile_doc %} href="{{ i.profile_doc.url }}" download {% else %} href="#" {% endif %} class="p-2 rounded-md text-xs bg-white text-black border">
                                                        {{ i.profile_doc.name }}
                                                    </a>
                                                    <button type="button" class="w-fit my-2 mx-auto border rounded-lg text-white px-4 py-2 cursor-pointer" onclick="document.getElementById('profileDocInput{{ forloop.counter }}').click()">Upload</button>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <!-- Save Button for Each Profile -->
                                        <div class="flex justify-end space-x-2">
                                            <button type="submit" class="px-8 py-3 bg-violet-700 text-white font-semibold rounded-lg shadow-lg">
                                                Save
                                            </button>
                                        </div>
                                    </form>

                                    <form method="POST" action="{% url 'profile' %}?type=gallery&id={{i.id}}" style="display: flex; flex-direction: column;justify-content: center;" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div id="profileDocContainer" class="border-dashed mt-2 rounded-lg border-2 flex flex-col border-gray-700 bg-[#171717] p-4 text-center">
                                            <input type="file" name="img" multiple accept="image/**" class="w-full mx-auto border rounded-lg text-white px-4 py-2 cursor-pointer"  id="profileDocInput">
                                                
                                        </div>
                                        <button type="submit" class="w-fit mx-auto border rounded-lg text-white px-4 py-2 cursor-pointer" >Save </button>
                                    </form>
                        
                                        <!-- Showcase Images Field -->
                                        <div class="relative border border-gray-800 rounded-xl p-6">
                                            <div class="relative border border-dashed border-gray-500 min-h-48 rounded-lg bg-[#101010]">
                                                <div class="mt-4 flex flex-wrap gap-2">
                                                    {% for image in i.profile_gallery.all %}
                                                    <div class="flex flex-wrap">
                                                        <div class="relative ">
                                                            <img src="{{ image.image.url }}" alt="Showcase" class="object-cover h-40 border rounded">
                                                            <a class="absolute top-0 right-0 bg-black/50  p-1.5 px-3" href="{% url 'profile' %}?action=delete&image_id={{image.id}}">x</a>
                                                        </div>
                        
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                                        
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    
                </div>
                
                
            </div>
                            
    </div>
    <script>
       // Accordion toggle functionality with sliding effect
            document.querySelectorAll('[data-accordion-target]').forEach(button => {
                button.addEventListener('click', () => {
                    const target = document.querySelector(button.getAttribute('data-accordion-target'));

                    // Check if already open
                    if (target.style.maxHeight) {
                        target.style.maxHeight = null;  // Close the panel
                    } else {
                        // Close any other open panels
                        document.querySelectorAll('.accordion-collapse').forEach(panel => {
                            panel.style.maxHeight = null;
                        });

                        target.style.maxHeight = target.scrollHeight + 'px';  // Open the clicked panel
                    }
                });
            });
            window.addEventListener('load', function() {
                setTimeout(function() {
                    document.querySelectorAll('.cke_notification_close').forEach(function(element) {
                        element.click();  // Programmatically click each element after 3 seconds
                    });
                }, 2000);  // 3000 milliseconds = 3 seconds
            });
    </script>
    <script>
        function openModal(counter) {
            document.getElementById('uploadModal' + counter).classList.remove('hidden');
        }
    
        function closeModal(counter) {
            document.getElementById('uploadModal' + counter).classList.add('hidden');
        }
    
        function previewImage(event, counter) {
            var reader = new FileReader();
            reader.onload = function(){
                // Set preview for both 1:1 and 3:4 ratios
                document.getElementById('brandPicPreviewModal1x1' + counter).src = reader.result;
                document.getElementById('brandPicPreviewModal3x4' + counter).src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <script>
        
        function scrollToSection(id) {
            const section = document.getElementById(id);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>
    <script>
        document.querySelectorAll('.editor').forEach(editor => {
            let id = editor.getAttribute('id'); // Correct method to get the id
            CKEDITOR.replace(id); // Replace the editor with CKEditor
        });
        

        
        document.addEventListener('DOMContentLoaded', function () {
            fetchCountries();
        });
        
        function fetchCountries() {
            fetch('https://countriesnow.space/api/v0.1/countries')
                .then(response => response.json())
                .then(data => {
                    const countrySelect = document.getElementById('country');
                    data.data.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country.country;
                        option.text = country.country;
                        countrySelect.appendChild(option);
                    });
                    countrySelect.disabled = false;
        
                    // Set default selected country
                    countrySelect.value = '{{user.country}}';
                    console.log(                    countrySelect.value, '{{user.country}}'                    );
                    fetchStates(); // Fetch states for the selected country

                })
                .catch(error => console.error('Error fetching countries:', error));
        }
        
        function fetchStates() {
            const country = document.getElementById('country').value;
            if (!country) return;
        
            fetch('https://countriesnow.space/api/v0.1/countries/states', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    country: country
                })
            })
            .then(response => response.json())
            .then(data => {
                const stateSelect = document.getElementById('state');
                stateSelect.innerHTML = '<option readonly selected>Select State</option>';
                data.data.states.forEach(state => {
                    const option = document.createElement('option');
                    option.value = state.name;
                    option.text = state.name;
                    stateSelect.appendChild(option);
                });
                stateSelect.disabled = false;
        
                // Set default selected state
                stateSelect.value = '{{user.state}}';
                console.log(                stateSelect.value === '{{user.state}}'                );
                fetchCities(); // Fetch cities for the selected state
            })
            .catch(error => console.error('Error fetching states:', error));
        }
        
        function fetchCities() {
            const country = document.getElementById('country').value;
            const state = document.getElementById('state').value;
            if (!state || !country) return;
        
            fetch('https://countriesnow.space/api/v0.1/countries/state/cities', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    country: country,
                    state: state
                })
            })
            .then(response => response.json())
            .then(data => {
                const citySelect = document.getElementById('city');
                citySelect.innerHTML = '<option readonly selected>Select City</option>';
                data.data.forEach(city => {
                    const option = document.createElement('option');
                    option.value = city;
                    option.text = city;
                    citySelect.appendChild(option);
                });
                citySelect.disabled = false;
        
                // Set default selected city
                citySelect.value = '{{user.city}}';
            })
            .catch(error => console.error('Error fetching cities:', error));
        }
        
    </script>


    
<script>
    // Function to update the hidden input field with selected category IDs
    function updateSelectedCategories() {
        let selectedCategories = [];
        document.querySelectorAll('.category-select').forEach(function(select) {
            selectedCategories.push(select.value);
        });
        document.getElementById('selected_categories').value = selectedCategories.join(',');
    }
    
    // Event listener for "Delete" buttons
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete-category-btn')) {
            // Remove the category row
            event.target.closest('.category-row').remove();
            // Update hidden input field
            updateSelectedCategories();
        }
    });
    
    // Event listener for "Add Category" button
    document.getElementById('add-category-btn').addEventListener('click', function() {
        // Get the category dropdown HTML
        const categoryDropdownHTML = `
        <div class="category-row flex items-center gap-2 mb-2">
            <select name="category" class="w-full text-md p-4 border border-slate-700 rounded-lg bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 category-select">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.get_category_hierarchy }}</option>
                {% endfor %}
            </select>
            <button type="button" class="rounded-lg bg-red-600 p-2 px-4 hover:bg-red-500 transition-all ease-in-out btn delete-category-btn">Delete</button>
        </div>
        `;
        
        // Append new dropdown to the category container
        document.getElementById('category-container').insertAdjacentHTML('beforeend', categoryDropdownHTML);
        
        // Update hidden input field
        updateSelectedCategories();
    });
    
    // Event listener for changes in category dropdowns
    document.addEventListener('change', function(event) {
        if (event.target.classList.contains('category-select')) {
            // Update hidden input field when a new category is selected
            updateSelectedCategories();
        }
    });
    
    // On page load, update the hidden input field with the initially selected categories
    window.addEventListener('load', function() {
        updateSelectedCategories();
    });
    </script>
{% endblock content %}
