{% extends 'client/template.html' %}

{% block content %}
{% load static %}
    
    {% if request.session.reset_email %}
    <form id="codeValidationForm" action="{% url 'reset_password' %}?action=validate" method="POST" class="flex flex-col items-center justify-center space-y-4 p-6">
        {% csrf_token %}
        <div class="w-full max-w-md mx-auto border border-gray-700 p-10 rounded-lg shadow-md">
            <div class="py-3">
                <label class="inline-flex gap-2 items-center" for="otp">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 text-white w-6 h-6">
                            <path fillRule="evenodd" d="M15.75 1.5a6.75 6.75 0 0 0-6.651 7.906c.067.39-.032.717-.221.906l-6.5 6.499a3 3 0 0 0-.878 2.121v2.818c0 .414.336.75.75.75H6a.75.75 0 0 0 .75-.75v-1.5h1.5A.75.75 0 0 0 9 19.5V18h1.5a.75.75 0 0 0 .53-.22l2.658-2.658c.19-.189.517-.288.906-.22A6.75 6.75 0 1 0 15.75 1.5Zm0 3a.75.75 0 0 0 0 1.5A2.25 2.25 0 0 1 18 8.25a.75.75 0 0 0 1.5 0 3.75 3.75 0 0 0-3.75-3.75Z" clipRule="evenodd" />
                        </svg>
                    </span>
                    Enter your code
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 w-6 h-6">
                            <path stroke-linecap="round" title="Enter 6 digit code sent on mail." stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                        </svg>
                    </span>
                </label>
            </div>
            <div class="flex space-x-2 justify-center">
                <input type="text" name="otp0" id="otp0" maxlength="1" class="w-14 h-12 p-4 text-center text-sm border border-slate-700 rounded-md bg-gray-100/10 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="text" name="otp1" id="otp1" maxlength="1" class="w-14 h-12 p-4 text-center text-sm border border-slate-700 rounded-md bg-gray-100/10 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="text" name="otp2" id="otp2" maxlength="1" class="w-14 h-12 p-4 text-center text-sm border border-slate-700 rounded-md bg-gray-100/10 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="text" name="otp3" id="otp3" maxlength="1" class="w-14 h-12 p-4 text-center text-sm border border-slate-700 rounded-md bg-gray-100/10 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="text" name="otp4" id="otp4" maxlength="1" class="w-14 h-12 p-4 text-center text-sm border border-slate-700 rounded-md bg-gray-100/10 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="text" name="otp5" id="otp5" maxlength="1" class="w-14 h-12 p-4 text-center text-sm border border-slate-700 rounded-md bg-gray-100/10 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="text-gray-400  text-xs my-2 mt-4 " style="display: flex; justify-content: end;">
                <a href="{% url 'reset_password'  %}?action=resend_otp" class="text-white underline">Resend Code</a>
            </div>


            <div class="flex flex-col gap-2 py-4 mt-2">
                <label for="email">Enter your email</label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                    </span>
                    <input type="email" name="email" value="{{request.session.reset_email}}" readonly id="email" placeholder="Email" class="w-full text-md p-4 pl-10 border border-slate-700 rounded bg-gray-100/10 focus:outline-none">
                </div>
            </div>
            <div class="flex flex-col gap-2 py-2">
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg>
                    </span>
                    <input type="password" name="password" placeholder="Enter your password" id="password" class="w-full text-md p-4 pl-10 border border-slate-700 rounded bg-gray-100/10 focus:outline-none" oninput="validatePassword()"/>
                    <span class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer" onclick="togglePasswordVisibility('password')">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-gray-400" id="password-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="flex flex-col gap-2 py-2">
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg>
                    </span>
                    <input type="password" name="confirm_password" placeholder="Confirm your password" id="confirmPassword" class="w-full text-md p-4 pl-10 border border-slate-700 rounded bg-gray-100/10 focus:outline-none" oninput="validatePassword()"/>
                    <span class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer" onclick="togglePasswordVisibility('confirmPassword')">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-gray-400" id="confirmPassword-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                    </span>
                </div>
                <span id="passwordMatchError" class="text-red-500 text-sm hidden">Passwords do not match</span>
                <span id="passwordValidation" class="text-sm flex flex-col">
                    <span id="lengthCheck" class="text-red-500">Length: 8-15 characters</span>
                    <span id="digitCheck" class="text-red-500">At least 2 digits</span>
                    <span id="lowerCaseCheck" class="text-red-500">Lowercase letter</span>
                    <span id="upperCaseCheck" class="text-red-500">Uppercase letter</span>
                    <span id="specialCharCheck" class="text-red-500">Special character (@, #, $, %, !, &)</span>
                </span>
                </div>
            </div>
             
        </div>
        <div class="w-full fixed bottom-0 py-6 bg-black border-t border-gray-800">
            <div class="flex justify-center md:justify-end px-12">
                <button id="submitButton" type="submit" class="w-80 py-4 bg-violet-500 text-white rounded-lg hover:bg-violet-600 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50">
                    Submit
                </button>
            </div>
        </div>
    </form>
    {% else %}        
    <div class="w-full pt-48 flex items-center">
        <form action="{% url 'reset_password' %}" method="POST" class="max-w-lg md:w-[25vw] mx-auto p-6 bg-[#101010] border border-gray-800 rounded-lg shadow-md">
            {% csrf_token %}
            <div class="space-y-4">
                <div class="relative">
                    <label for="email" class="block text-white text-sm mb-1">Email</label>
                    <span class="absolute inset-y-0 top-6 left-0 flex items-center pl-3 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                    </span>
                    <input type="email" required name="email" id="email" class="w-full text-md p-4 pl-10 border border-slate-700 rounded bg-gray-100/10 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter your email" />
                </div>
                
                <button type="submit" class="w-full py-3 bg-violet-700 text-white rounded-lg hover:bg-violet-600 focus:outline-none focus:ring-2 focus:ring-white-500" >
                    Get Code
                </button>
            </div>
        <!-- New User Signup Message -->
        <div class="text-gray-400  text-xs my-2 mt-4">
            <p>If you are a new user, please <a href="/validate" class="text-white underline">sign up with a passcode</a>.</p>
        </div>
        </form>
        
    </div>
    {% endif %}

    <script>
        function validatePassword() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            
            // Get the validation span elements
            const lengthCheck = document.getElementById('lengthCheck');
            const digitCheck = document.getElementById('digitCheck');
            const lowerCaseCheck = document.getElementById('lowerCaseCheck');
            const upperCaseCheck = document.getElementById('upperCaseCheck');
            const specialCharCheck = document.getElementById('specialCharCheck');
            const passwordMatchError = document.getElementById('passwordMatchError');
            
            // Regex patterns for validation
            const lengthPattern = /^.{8,15}$/;
            const digitPattern = /(?=.*\d.*\d)/;  // At least 2 digits
            const lowerCasePattern = /(?=.*[a-z])/; // At least one lowercase
            const upperCasePattern = /(?=.*[A-Z])/; // At least one uppercase
            const specialCharPattern = /(?=.*[@#$%!&])/; // Special character
            
            // Check if the password meets the requirements
            lengthCheck.classList.toggle('text-green-500', lengthPattern.test(password));
            lengthCheck.classList.toggle('text-red-500', !lengthPattern.test(password));
            
            digitCheck.classList.toggle('text-green-500', digitPattern.test(password));
            digitCheck.classList.toggle('text-red-500', !digitPattern.test(password));
            
            lowerCaseCheck.classList.toggle('text-green-500', lowerCasePattern.test(password));
            lowerCaseCheck.classList.toggle('text-red-500', !lowerCasePattern.test(password));
            
            upperCaseCheck.classList.toggle('text-green-500', upperCasePattern.test(password));
            upperCaseCheck.classList.toggle('text-red-500', !upperCasePattern.test(password));
            
            specialCharCheck.classList.toggle('text-green-500', specialCharPattern.test(password));
            specialCharCheck.classList.toggle('text-red-500', !specialCharPattern.test(password));
    
            // Check if passwords match
            if (password !== confirmPassword && confirmPassword.length > 0) {
                passwordMatchError.classList.remove('hidden');
            } else {
                passwordMatchError.classList.add('hidden');
            }
        }
    
        function togglePasswordVisibility(id) {
            const input = document.getElementById(id);
            const icon = document.getElementById(id + '-icon');
            if (input.type === 'password') {
                input.type = 'text';
                icon.setAttribute('stroke-width', '1.75');
            } else {
                input.type = 'password';
                icon.setAttribute('stroke-width', '1.5');
            }
        }
    </script>
    
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../static/js/validate.js"></script>

{% endblock content %}
