{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Zar Luxury {{title}}</title>

    <link rel="icon" href="{% static 'images/ZAR-icon.ico' %}" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Red+Rose:wght@300..700&display=swap" rel="stylesheet">
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WPDGJRHB9B"></script>
    <script>   
        window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());    gtag('config', 'G-WPDGJRHB9B'); 
    </script> 

</head>
<style>
    * {
        font-family: "Red Rose", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      .gloock-regular {
        font-family: "Gloock", serif;
        font-weight: 300;
        font-style: normal;
      }
      
</style>
<body class="bg-[#0a0a0a] text-white">

    {% include 'client/components/navbar.html' %}
    <main class="container mx-auto ">
        
        {% block content %}
            
        {% endblock content %}
            

    </main>
    {% include 'client/components/footer.html' %}

    

</body>
</html>
