{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>  Zar Luxury {{title}}</title> {% endcomment %}

    {% if title == 'Home' %}
    <title>ZAR Luxury | Your Gateway to Luxury Living and Premium Services</title>

    <!-- Meta Description -->
    <meta name="description" content="ZAR Luxury connects you with premium materials and top-notch service providers for luxury living.">

    <!-- Meta Keywords -->
    <meta name="keywords" content="Luxury Living, Premium Services, ZAR Luxury">

    <!-- Open Graph (OG) Meta Tags -->
    <meta property="og:title" content="ZAR Luxury | Luxury Living and Premium Services">
    <meta property="og:description" content="ZAR Luxury is your gateway to luxury living, connecting discerning homeowners with top-tier material and service providers.">
    <meta property="og:image" content="/static/images/zar1.jpg">
    <meta property="og:url" content="https://zarluxury.com/"> <!-- Make sure to dynamically generate this URL -->

    {% elif title == 'Privacy Policy' %}
        <title>Privacy Policy | ZAR Luxury</title>
        <meta name="description" content="Read about our privacy policy and how ZAR Luxury handles your personal information with care and responsibility.">
        <meta name="keywords" content="Privacy Policy, Data Protection, ZAR Luxury">
        <meta property="og:title" content="Privacy Policy | ZAR Luxury">
        <meta property="og:description" content="Learn how ZAR Luxury ensures the privacy of your data with our comprehensive privacy policy.">
        <meta property="og:image" content="/static/images/privacy-policy.jpg">
        <meta property="og:url" content="https://zarluxury.com/privacy">

    {% elif title == 'Terms and Conditions' %}
        <title>Terms and Conditions | ZAR Luxury</title>
        <meta name="description" content="Review the terms and conditions governing the use of ZAR Luxury's services.">
        <meta name="keywords" content="Terms and Conditions, Service Agreement, ZAR Luxury">
        <meta property="og:title" content="Terms and Conditions | ZAR Luxury">
        <meta property="og:description" content="By using ZAR Luxury, you agree to abide by our terms and conditions. Review them in full here.">
        <meta property="og:image" content="/static/images/terms.jpg">
        <meta property="og:url" content="https://zarluxury.com/terms">

    {% elif title == 'Contact Us' %}
        <title>Contact Us | ZAR Luxury</title>
        <meta name="description" content="Get in touch with ZAR Luxury for inquiries or support. We're here to help.">
        <meta name="keywords" content="Contact, Support, ZAR Luxury">
        <meta property="og:title" content="Contact Us | ZAR Luxury">
        <meta property="og:description" content="Reach out to ZAR Luxury for assistance or information about our premium services.">
        <meta property="og:image" content="/static/images/contact.jpg">
        <meta property="og:url" content="https://zarluxury.com/contact">

    {% elif title == 'FAQ' %}
        <title>Frequently Asked Questions | ZAR Luxury</title>
        <meta name="description" content="Find answers to common questions about ZAR Luxury's services and offerings.">
        <meta name="keywords" content="FAQ, Frequently Asked Questions, ZAR Luxury">
        <meta property="og:title" content="FAQ | ZAR Luxury">
        <meta property="og:description" content="Browse through our frequently asked questions to learn more about ZAR Luxury's services.">
        <meta property="og:image" content="/static/images/faq.jpg">
        <meta property="og:url" content="https://zarluxury.com/faq">

         <!-- Category Page Meta Tags -->
        {% elif title == category.name %}
        <title>{{ title }} | ZAR Luxury</title>
        <meta name="description" content="Explore premium services and materials for {{ title }} at ZAR Luxury.">
        <meta name="keywords" content="{{ title }}, Luxury Services, ZAR Luxury">
        <meta property="og:title" content="{{ title }} | ZAR Luxury">
        <meta property="og:description" content="Discover {{ title }} services and materials with ZAR Luxury.">
        <meta property="og:image" content="/static/images/category_default.jpg">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        
        {% elif title == 'Validate' %}
        <title>ZAR Luxury | Validate Your Account</title>
        <meta name="description" content="Validate your ZAR Luxury account to access premium services and materials.">
        <meta name="keywords" content="Validate, ZAR Luxury, Premium Services">
        <meta property="og:title" content="ZAR Luxury | Validate Account">
        <meta property="og:description" content="Complete the validation of your ZAR Luxury account and get started with luxury living services.">
        <meta property="og:image" content="/static/images/validate.jpg">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
    
    {% else %}
        <title>{{ title }} | ZAR Luxury</title>
        <meta name="description" content="Discover ZAR Luxury - premium living solutions for discerning homeowners.">
        <meta name="keywords" content="Luxury Living, Premium Services, ZAR Luxury">
        <meta property="og:title" content="{{ title }} | ZAR Luxury">
        <meta property="og:description" content="Explore ZAR Luxury for premium living solutions and top-tier services.">
        <meta property="og:image" content="/static/images/zar1.jpg">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endif %}

    



    <link rel="icon" href="{% static 'images/ZAR-icon.ico' %}" type="image/x-icon" />
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <script src="{% static 'js/tailwindcss.js' %}"></script>

    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Red+Rose:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WPDGJRHB9B"></script>
    <script>   
        window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());    gtag('config', 'G-WPDGJRHB9B'); 
    </script> 
    <!-- Global meta tags -->
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@zarluxury">
    <meta name="twitter:creator" content="@zarluxury">
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/zar1.jpg' %}">

    <link rel="canonical" href="{{ request.build_absolute_uri }}">


    

    <!-- Structured Data -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "ZAR Luxury",
            "alternateName": "ZAR Luxury Living",
            "url": "https://www.zarluxury.com",
            "logo": "https://www.zarluxury.com/zar1.jpg",
            "description": "ZAR Luxury is your gateway to the finest in luxury living, connecting discerning homeowners with top-tier material and service providers.",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "A007, Boomerang, Chandivali",
                "addressLocality": "Mumbai",
                "addressRegion": "Maharashtra",
                "postalCode": "400072",
                "addressCountry": "IN"
            },
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "telephone": "+91-8828452971",
                    "contactType": "customer service",
                    "areaServed": "IN",
                    "availableLanguage": "English"
                },
                {
                    "@type": "ContactPoint",
                    "telephone": "+91-7900192533",
                    "contactType": "customer service",
                    "areaServed": "IN",
                    "availableLanguage": "English"
                }
            ],
            "email": "info@zarluxury.com",
            "openingHours": "Mo-Fr 09:00-18:00",
            "sameAs": [
                "https://www.facebook.com/zarluxury",
                "https://www.twitter.com/zarluxury",
                "https://www.instagram.com/zarluxury"
            ]
        }
    </script>
</head>
<style>
    * {
        font-family: "Red Rose", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      .gloock-regular {
        font-family: "Gloock", serif;
        font-weight: 300;
        font-style: normal;
      }
      /* Toastify custom classes */
.toast-debug {
    background: #e0e0e0;
    color: #333;
    border-left: 4px solid #999;
}

.toast-info {
    background: #d0e8ff;
    color: #007bff;
    border-left: 4px solid #007bff;
}

.toast-success {
    background: #d4edda;
    color: #28a745;
    border-left: 4px solid #28a745;
}

.toast-warning {
    background: #fff3cd;
    color: #856404;
    border-left: 4px solid #856404;
}

.toast-error {
    background: #f8d7da;
    color: #dc3545;
    border-left: 4px solid #dc3545;
}

</style>
<body class="bg-[#0a0a0a] text-white">

    {% include 'client/components/navbar.html' %}
    <main class="w-full min-h-screen">
        
        {% block content %}
            
        {% endblock content %}
            

    </main>
    {% include 'client/components/footer.html' %}


    
    {% if request.user.is_authenticated and request.user.type == 'Service Provider' or request.user.type == 'Material Provider' %}
       

    {% else %}

    
        
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetchCountries();
        });
    
        function fetchCountries() {
            fetch('https://countriesnow.space/api/v0.1/countries') // This URL provides country data
                .then(response => response.json())
                .then(data => {
                    const countrySelect = document.getElementById('country');
                    data.data.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country.country;
                        option.text = country.country;
                        countrySelect.appendChild(option);
                    });
                    countrySelect.disabled = false;
                })
                .catch(error => console.error('Error fetching countries:', error));
        }
    
        function fetchStates() {
            const country = document.getElementById('country').value;
            if (!country) return;
    
            fetch('https://countriesnow.space/api/v0.1/countries/states', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    country: country
                })
            })
            .then(response => response.json())
            .then(data => {
                const stateSelect = document.getElementById('state');
                stateSelect.innerHTML = '<option readonly selected>Select State</option>';
                data.data.states.forEach(state => {
                    const option = document.createElement('option');
                    option.value = state.name;
                    option.text = state.name;
                    stateSelect.appendChild(option);
                });
                stateSelect.disabled = false;
                document.getElementById('city').disabled = true;
            })
            .catch(error => console.error('Error fetching states:', error));
        }
    
        function fetchCities() {
            const country = document.getElementById('country').value;
            const state = document.getElementById('state').value;
            if (!state || !country) return;
    
            fetch('https://countriesnow.space/api/v0.1/countries/state/cities', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    country: country,
                    state: state
                })
            })
            .then(response => response.json())
            .then(data => {
                const citySelect = document.getElementById('city');
                citySelect.innerHTML = '<option readonly selected>Select City</option>';
                data.data.forEach(city => {
                    const option = document.createElement('option');
                    option.value = city;
                    option.text = city;
                    citySelect.appendChild(option);
                });
                citySelect.disabled = false;
            })
            .catch(error => console.error('Error fetching cities:', error));
        }
    </script>
    {% endif %}
 <!-- Include Toastify JS -->
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
 <script>
    // Check if there are any Django messages
    {% if messages %}
    {% for message in messages %}
        Toastify({
            text: "{{ message }}", // Display the message
            duration: 4000,        // Duration the toast stays visible
            close: true,           // Show close button
            gravity: "top",        // Position of the toast ('top' or 'bottom')
            position: "center",    // Position of the toast ('left', 'center', or 'right')
            className: "{{message.tags}}",

        }).showToast();
    {% endfor %}
{% endif %}
// ckeditor/config.js

CKEDITOR.editorConfig = function( config ) {
    config.versionCheck = false;
};
</script>


</body>
</html>
