<footer class='w-full border-t border-gray-700 flex flex-col md:flex-row justify-between py-8 px-6 '>
    <div class="order-2 md:order-1 mb-4 mt-5 md:mt-0 md:mb-0 md:w-2/3 md:px-16 px-0 flex justify-center">
      <h1 class="text-gray-600 mb-2">@ ZAR Luxury Pvt. Ltd. 2024. All rights reserved</h1>
    </div>
    
    <div class="order-1 md:order-2 md:w-2/3 flex justify-center text-gray-400 space-x-4">
      <a href="{% url 'terms_and_conditions' %}" target="_blank" rel="noopener noreferrer" class="hover:border-gray-700 hover:border-b hover:text-white">
        Terms
      </a>
      <a href="{% url 'faq' %}" target="_blank" rel="noopener noreferrer" class="hover:border-gray-700 hover:border-b hover:text-white">
        FAQ
      </a>
      <a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener noreferrer" class="hover:border-gray-700 hover:border-b hover:text-white">
        Privacy
      </a>
      <a href="{% url 'contact_us' %}" target="_blank" rel="noopener noreferrer" class="hover:border-gray-700 hover:border-b hover:text-white">
        Contact
      </a>
    </div>
    </footer>