{% extends "dashboard/template.html" %}
{% block content %}

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        
                                        {% if member_type == 'materialProvider' %}
                                            
                                        <h5>Material Provider</h5>
                                        {% elif member_type == 'homeOwner' %}
                                        <h5>Home Owner</h5>
                                        {% elif member_type == 'serviceProvider' %}
                                        <h5>Service Providers</h5>
                                        {% else %}
                                        <h5>All Users</h5>
                                        {% endif %}
                                        {% comment %} <form class="d-inline-flex">
                                            <a href="" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form> {% endcomment %}
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Joined</th>
                                                    <th>state</th>
                                                        <th>City</th>
                                                        <th>Zip Code</th>
                                                        <th>Country</th>
                                                    <th>Status</th>
                                                        
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for user in users %}
                                                <tr>
                                                    

                                                    <td>
                                                        <div class="user-name">
                                                            <span>{{user.first_name}} {{user.last_name}}</span>
                                                        </div>
                                                    </td>

                                                    <td>{{user.mobile}}</td>

                                                    <td>{{user.email}}</td>
                                                    <td>{{user.date_joined}}</td>

                                                    <td>{{user.state}}</td>
                                                        <td>{{user.city}}</td>
                                                        <td>{{user.zip_code}}</td>
                                                        <td>{{user.country}}</td>

                                                    {% if user.type != 'Community User' %}
                                                    <td>{{user.payment_status}}</td>
                                                    {%else %}
                                                    <td>Not Applicable</td>
                                                    {% endif %}
                                                    <td>
                                                        <ul>
                                                            
                                                          
                                                          {% if user.payment_status == 'pending'  %}
                                                            
                                                          
                                                          <li>
                                                            <a href="#" class="align-items-center btn btn-theme d-flex" 
                                                                data-bs-toggle="modal" 
                                                                data-email="{{ user.email }}" 
                                                                data-id="{{ user.uid }}" 
                                                                data-bs-target="#sendLinkModal" 
                                                                onclick="setModalData('{{ user.email }}', '{{ user.uid }}')">
                                                                    <i class="ri-mail-line"></i>
                                                                </a>
                                                            </li>
                                                            {% endif %}

                                                            <li>
                                                                <a href="" >
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                
            </div>
            <div class="modal fade" id="sendLinkModal" tabindex="-1" aria-labelledby="sendLinkModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span>

                                <h5 class="modal-title" id="sendLinkModalLabel">Send Payment Link to</h5>
                                <h6 class="modal-title" id="sendLinkModalLabelEmail"></h6>  <!-- Update to use JS -->
                            </span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'send_passcode' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" id="hiddenUserId" name="user_id">  <!-- Hidden input for user ID -->
                                <div class="mb-3">
                                    <label for="link" class="form-label">Payment Link</label>
                                    <input type="url" class="form-control" id="link" name="link" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

            <script>
                function setModalData(email, id) {
                    // Set the email and ID in the modal
                    document.getElementById('sendLinkModalLabelEmail').innerText = email;
                    // You may want to store the user ID in a hidden input for the form
                    document.getElementById('hiddenUserId').value = id;
                }
            </script>
            {% endblock content %}
