{% extends "dashboard/template.html" %}
{% block content %}

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        
                                        {% if member_type == 'materialProvider' %}
                                            
                                        <h5>Material Provider</h5>
                                        {% elif member_type == 'homeOwner' %}
                                        <h5>Home Owner</h5>
                                        {% elif member_type == 'serviceProvider' %}
                                        <h5>Service Providers</h5>
                                        {% else %}
                                        <h5>All Users</h5>
                                        {% endif %}
                                        {% comment %} <form class="d-inline-flex">
                                            <a href="" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form> {% endcomment %}
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Joined</th>
                                                    
                                                    {% if member_type == 'homeOwner' %}
                                                    <th>Status</th>
                                                    {% endif %}
                                                        
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for user in users %}
                                                <tr>
                                                    

                                                    <td>
                                                        <div class="user-name">
                                                            <span>{{user.first_name}} {{user.last_name}}</span>
                                                        </div>
                                                    </td>

                                                    <td>{{user.phone}}</td>

                                                    <td>{{user.email}}</td>
                                                    <td>{{user.date_joined}}</td>
                                                    {% if member_type == 'homeOwner' %}
                                                    <td>{{user.homeowner.payment_status}}</td>
                                                    {% endif %}
                                                    <td>
                                                        <ul>
                                                            

                                                            <li>
                                                                <a href="=">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="" >
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                
            </div>
            {% endblock content %}
