{% extends 'dashboard/template.html' %}
{% block content %}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .page-button {
        margin: 0 5px;
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
    
    .page-button:hover {
        background-color: #0056b3;
    }
</style>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>Material Providers</h5>
                                    <form action="{% url 'brand_list' %}" class="d-flex" method="GET">

                                        <input type="text" id="searchInput" name="search" class="form-control" placeholder="Search...">
                                        <button type="submit" class="btn btn-success" >Search</button>
                                    </form>
                                    <div class="d-inline-flex">
                                        <a href="{% url 'export' %}?type=material_provider" target="_blank" class="align-items-center btn btn-theme d-flex">
                                            <i data-feather="plus-download"></i>Export
                                        </a>
                                        <a href="{% url 'submit_material_provider' %}" target="_blank" class="align-items-center btn btn-theme d-flex">
                                            <i data-feather="plus-square"></i>Add New
                                        </a>
                                    </div>
                                </div>
                                <div class="pagination">
                                    <span class="step-links">
                                      {% if brands.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ brands.previous_page_number }}">previous</a>
                                      {% endif %}
                                  
                                      <span class="current">
                                        Page {{ brands.number }} of {{ brands.paginator.num_pages }}.
                                      </span>
                                  
                                      {% if brands.has_next %}
                                        <a href="?page={{ brands.next_page_number }}">next</a>
                                        <a href="?page={{ brands.paginator.num_pages }}">last &raquo;</a>
                                      {% endif %}
                                    </span>
                                  </div>
                                <div class="table-responsive category-table">
                                    <div>
                                        <table class="table all-package theme-table sortable" id="table_id">
                                            <thead>
                                                <tr class="item">
                                                    <th>Brand Name</th>
                                                    <th>Category </th>
                                                    <th>Contact Person</th>
                                                    <th>Contact Number</th>
                                                    <th>Impressions</th>
                                                    <th>Email</th>
                                                   
                                                    <th>Account Verfied</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody id="tableBody">
                                                {% for cat in brands %}
                                                <tr class="item">
                                                    
                                                    <td class="brand-name">{{ cat.brand_name }}</td>
                                                    
                                                    <td>
                                                    {% for i in cat.profile.all %}
                                                    <div style="display: flex;align-items: center;    justify-content: space-between;" >
                                                                
                                                        <span>
                                                            {{ i.category.get_category_hierarchy }} 
                                                        </span> 
                                                        <a href="{% url 'brand_info' i.category.get_category_hierarchy cat.uid %}" target="_blank">
                                                            <i class="ri-eye-line"></i>
                                                        </a> 

                                                        {% if i.payment_status == 'pending'  %}
                                                        
                                                    
                                                        <a href="#" class="align-items-center btn btn-theme d-flex" 
                                                            data-bs-toggle="modal" 
                                                            data-email="{{ cat.email }}" 
                                                            data-id="{{ cat.uid }}" 
                                                            data-bs-target="#sendLinkModal" 
                                                            onclick="setModalData('{{ cat.email }}', '{{ cat.uid }}','{{i.id}}')">
                                                                <i class="ri-mail-line"></i>
                                                            </a>
                                                        {% elif i.payment_status == 'In Process' %}
                                                            <a href="#" class="align-items-center btn btn-theme d-flex" 
                                                                data-bs-toggle="modal" 
                                                                data-email="{{ cat.email }}" 
                                                                data-id="{{ cat.uid }}" 
                                                                data-bs-target="#sendLinkModal2" 
                                                                onclick="setModalData2('{{ cat.email }}', '{{ cat.uid }}','{{i.id}}')">
                                                                    <i class="ri-mail-line"></i>
                                                                </a>
                                                        {% else %}
                                                            <a class="align-items-center btn btn-success d-flex" 
                                                                >
                                                                    <i class="ri-check-double-line"></i>
                                                                </a>
                                                        {% endif %}


                                                    </div> 
                                                    {% endfor %}
                                                        
                                                    </td>
                                                    <td class="contact-person">{{ cat.contact_person }}</td>
                                                    <td class="mobile">{{ cat.mobile }}</td>
                                                    <td>{{ cat.impress_brand.all.count }}</td>
                                                    <td class="email">{{ cat.email }}</td>
                                                    <td class="account-verified"> 
                                                    {% if cat.is_active %}
                                                        Yes
                                                        {% else %}
                                                        No
                                                    {% endif %}
                                                         </td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="{% url 'edit_brand' cat.uid %}">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'edit_brand' cat.uid %}?type=delete" class="delete-link">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Container-fluid end -->
    </div>
    <div class="modal fade" id="sendLinkModal" tabindex="-1" aria-labelledby="sendLinkModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>

                        <h5 class="modal-title" id="sendLinkModalLabel">Send Payment Link to</h5>
                        <h6 class="modal-title" id="sendLinkModalLabelEmail"></h6>  <!-- Update to use JS -->
                    </span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'send_passcode' %}?type=send_payment_link" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="hiddenUserId" name="user_id">  <!-- Hidden input for user ID -->
                        <input type="hidden" id="hiddenProfileId" name="profile_id">  <!-- Hidden input for user ID -->
                        <div class="mb-3">
                            <label for="link" class="form-label">Payment Link</label>
                            <input type="url" class="form-control" id="link" name="link" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sendLinkModal2" tabindex="-1" aria-labelledby="sendLinkModal2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>

                        <h5 class="modal-title" id="sendLinkModal2Label">Send Code</h5>
                        <h6 class="modal-title" id="sendLinkModal2LabelEmail"></h6>  <!-- Update to use JS -->
                    </span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'send_passcode' %}?type=send_code" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="hiddenUserId2" name="user_id">  <!-- Hidden input for user ID -->
                        <input type="hidden" id="hiddenProfileId2" name="profile_id">  <!-- Hidden input for user ID -->

                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        function setModalData(email, id,profile) {
            // Set the email and ID in the modal
            document.getElementById('sendLinkModalLabelEmail').innerText = email;
            // You may want to store the user ID in a hidden input for the form
            document.getElementById('hiddenUserId').value = id;
            document.getElementById('hiddenProfileId').value = profile;

        }

        function setModalData2(email, id, profile) {
            // Set the email and ID in the modal
            document.getElementById('sendLinkModal2LabelEmail').innerText = email;
            // You may want to store the user ID in a hidden input for the form
            document.getElementById('hiddenUserId2').value = id;
            document.getElementById('hiddenProfileId2').value = profile;
        }
    </script>



<script>
    function filterRows() {
        const query = document.getElementById("searchInput").value.toLowerCase();
        const rows = document.querySelectorAll("#tableBody .item");
    
        rows.forEach(row => {
            const brandName = row.querySelector(".brand-name").textContent.toLowerCase();
            const contactPerson = row.querySelector(".contact-person").textContent.toLowerCase();
            const mobile = row.querySelector(".mobile").textContent.toLowerCase();
            const email = row.querySelector(".email").textContent.toLowerCase();
            ;
            const paymentStatus = row.querySelector(".account-verified").textContent.toLowerCase();
    
            if (brandName.includes(query) || 
                contactPerson.includes(query) || 
                mobile.includes(query) || 
                email.includes(query) || 
                
                paymentStatus.includes(query)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>
      
<script>
    // Add event listener to all delete links
    document.querySelectorAll('.delete-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            // Show confirmation dialog
            const confirmed = confirm("Are you sure you want to delete this item?");
            
            // If the user cancels, prevent the default link behavior
            if (!confirmed) {
                event.preventDefault();
            }
        });
    });
</script>      
   
            
            {% endblock content %}

  