{% extends 'dashboard/template.html' %}

{% block content %}


<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            Manage Privacy Policy
                        </div>
                        <button id="add-new-privacy-btn" class="btn btn-primary mb-4">Add New Privacy Policy</button>

                        <div class="table-responsive table-product">
                            <table class="table-auto w-full text-left border-collapse">
                                <thead>
                                    <tr>
                                        <th class="px-4 py-2">Order</th>
                                        <th class="px-4 py-2">Title</th>
                                        <th class="px-4 py-2">Enabled</th>
                                        <th class="px-4 py-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for section in sections %}
                                    <tr>
                                        <td class="border px-4 py-2">{{ section.order }}</td>
                                        <td class="border px-4 py-2">{{ section.title }}</td>
                                        <td class="border px-4 py-2">{{ section.is_enabled }}</td>
                                        <td class="border px-4 py-2">
                                            <a href="?edit={{ section.id }}" class="text-blue-600">Edit</a>
                                            <a href="{% url 'delete_privacy' section.id %}" class="text-red-600">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Add/Edit Privacy Form -->
                        <div class="container py-5">
                            <div id="privacy-form" class="row g-3" style="display: {% if section_to_edit %}block{% else %}none{% endif %};">
                                {% if section_to_edit %}
                                <h2 class="py-2">Edit Privacy Policy</h2>
                                {% else %}
                                <h2 class="py-2">Add New Privacy Policy</h2>
                                {% endif %}
                                <form method="POST" class="row g-3">
                                    {% csrf_token %}
                                    {% if section_to_edit %}
                                    <input type="hidden" name="section_id" value="{{ section_to_edit.id }}" />
                                    {% endif %}

                                    <div class="col-md-6">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" value="{% if section_to_edit %}{{ section_to_edit.title }}{% else %}''{% endif %}" class="form-control" required />
                                    </div>

                                    <div class="col-md-6">
                                        <label for="order">Order</label>
                                        <input type="number" name="order" value="{% if section_to_edit %}{{ section_to_edit.order }}{% else %}''{% endif %}" class="form-control" required />
                                    </div>

                                    <div class="col-md-12">
                                        <label for="answer">Content</label>
                                        <input type="hidden" id="quill-content" name="content" value="{{ section_to_edit.content|escapejs }}">
                                    </div>

                                    <!-- Quill editor container -->
                                    <div id="quill-editor">
                                        {{ section_to_edit.content|safe }}  <!-- Load current content for editing -->
                                    </div>

                                    <div class="col-md-6">
                                        <label for="is_enabled">Enabled</label>
                                        <input type="checkbox" name="is_enabled" {% if section_to_edit.is_enabled %}checked{% endif %} class="form-check-input" />
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>

                            <!-- Add New Privacy Form (Initially Hidden) -->
                            <div id="new-section-form" class="row g-3" style="display: none;">
                                <h2>Add New Privacy Policy</h2>
                                <form method="POST" class="row g-3">
                                    {% csrf_token %}
                                    <div class="col-md-6">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" name="title" required />
                                    </div>

                                    <div class="col-md-6">
                                        <label for="order">Order</label>
                                        <input type="number" class="form-control" name="order" required />
                                    </div>

                                    <div class="col-md-12">
                                        <label for="answer">Content</label>
                                        <input type="hidden" id="quill-content-new" name="content">
                                    </div>

                                    <!-- Quill editor container for new Privacy -->
                                    <div id="quill-editor-new"></div>

                                    <div class="col-md-6">
                                        <label for="is_enabled">Enabled</label>
                                        <input type="checkbox" name="is_enabled" class="form-check-input" />                                        
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Add Privacy Policy</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Quill.js script -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initialize Quill editors
        var quill = new Quill('#quill-editor', {
            theme: 'snow'  // Specify theme in configuration
        });

        var quillNew = new Quill('#quill-editor-new', {
            theme: 'snow'  // Specify theme in configuration
        });

        // Function to update hidden input field with Quill editor content on form submission
        var editForm = document.querySelector('#privacy-form form');
        editForm.onsubmit = function() {
            var contentInput = document.querySelector('#quill-content');
            contentInput.value = quill.root.innerHTML;  // Update hidden input with Quill HTML content
        };

        // Function to update hidden input for new privacy form
        var newForm = document.querySelector('#new-section-form form');
        newForm.onsubmit = function() {
            var contentInputNew = document.querySelector('#quill-content-new');
            contentInputNew.value = quillNew.root.innerHTML;  // Update hidden input with Quill HTML content for new policy
        };

        // Toggle form visibility
        var addNewPrivacyBtn = document.getElementById('add-new-privacy-btn');
        var privacyForm = document.getElementById('privacy-form');
        addNewPrivacyBtn.addEventListener('click', function() {
            privacyForm.style.display = (privacyForm.style.display === 'none' ? 'block' : 'none');
        });
    });
</script>
{% endblock %}
