{% extends "dashboard/template.html" %}
{% block content %}

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        
                                       
                            <h5>Service Providers</h5>
                            <div class="d-inline-flex">

                                <input type="text" id="searchInput" class="form-control" placeholder="Search..." onkeyup="filterRows()">
                            </div>

                            <a href="{% url 'service_provider'  %}" target="_blank" class="align-items-center btn btn-theme d-flex">

                                <i data-feather="plus-square"></i>Add New
                            </a>
                           
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table sortable" id="table">
                                            <thead>
                                                <tr class="item">

                                                 
                                                        
                                                    <th>Name</th>
                                                    <th>Category</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Joined</th>
                                                    <th>Impressions</th>
                                                   
                                                    <th>Status</th>
                                                        
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for user in providers %}
                                                <tr class="item">

                                                 
                                                  
                                                    <td>
                                                        <div class="user-name">
                                                            <span>{{user.first_name}} {{user.last_name}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        
                                                        <div style="display: flex;flex-direction: column;flex-wrap: nowrap;" >


                                                            {% for i in user.profile.all %}
                                                            <div style="display: flex;align-items: center;    justify-content: space-between;" >
                                                                
                                                                <span>
                                                                    {{ i.category.get_category_hierarchy }} 
                                                                </span> 
                                                                <a href="{% url 'user_info' i.category.get_category_hierarchy user.uid %}" target="_blank">
                                                                    <i class="ri-eye-line"></i>
                                                                </a> 

                                                                {% if user.payment_status == 'pending'  %}
                                                                
                                                            
                                                                <a href="#" class="align-items-center btn btn-theme d-flex" 
                                                                    data-bs-toggle="modal" 
                                                                    data-email="{{ user.email }}" 
                                                                    data-id="{{ user.uid }}" 
                                                                    data-bs-target="#sendLinkModal" 
                                                                    onclick="setModalData('{{ user.email }}', '{{ user.uid }}','{{i.id}}')">
                                                                        <i class="ri-mail-line"></i>
                                                                    </a>
                                                                {% elif user.payment_status == 'In Progress' %}
                                                                    <a href="#" class="align-items-center btn btn-theme d-flex" 
                                                                        data-bs-toggle="modal" 
                                                                        data-email="{{ user.email }}" 
                                                                        data-id="{{ user.uid }}" 
                                                                        data-bs-target="#sendLinkModal2" 
                                                                        onclick="setModalData2('{{ user.email }}', '{{ user.uid }}','{{i.id}}')">
                                                                            <i class="ri-mail-line"></i>
                                                                        </a>
                                                                {% else %}
                                                                    <a class="align-items-center btn btn-success d-flex" 
                                                                        >
                                                                            <i class="ri-check-double-line"></i>
                                                                        </a>
                                                                {% endif %}


                                                            </div> 
                                                            {% endfor %}
                                                        

                                                        </div>

                                                    </td>
                                                        
                                                        

                                                    <td>{{user.mobile}}</td>

                                                    <td>{{user.email}}</td>
                                                    <td>{{user.date_joined}}</td>
                                                    <td>{{user.impress_brand.all.count}}</td>

                                                

                                                    <td>{{user.payment_status}}</td>
                                                  
                                                    <td>
                                                        <ul>
                                                            
                                                          
                                                          
                                                            <li>
                                                                <a href="{% url 'update_service' user.uid %}" >
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>
                                                            

                                                            
                                                            <li>
                                                                <a href="{% url 'users_list' %}?action=delete&id={{ user.uid }}" onclick="confirmDelete(event, '{{ user.uid }}')">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                
            </div>
            <div class="modal fade" id="sendLinkModal" tabindex="-1" aria-labelledby="sendLinkModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span>

                                <h5 class="modal-title" id="sendLinkModalLabel">Send Payment Link to</h5>
                                <h6 class="modal-title" id="sendLinkModalLabelEmail"></h6>  <!-- Update to use JS -->
                            </span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'send_passcode' %}?type=send_payment_link" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" id="hiddenUserId" name="user_id">  <!-- Hidden input for user ID -->
                                <input type="hidden" id="hiddenProfileId" name="profile_id">  <!-- Hidden input for user ID -->
                                <div class="mb-3">
                                    <label for="link" class="form-label">Payment Link</label>
                                    <input type="url" class="form-control" id="link" name="link" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="sendLinkModal2" tabindex="-1" aria-labelledby="sendLinkModal2Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span>

                                <h5 class="modal-title" id="sendLinkModal2Label">Send Code</h5>
                                <h6 class="modal-title" id="sendLinkModal2LabelEmail"></h6>  <!-- Update to use JS -->
                            </span>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'send_passcode' %}?type=send_code" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" id="hiddenUserId2" name="user_id">  <!-- Hidden input for user ID -->
                                <input type="hidden" id="hiddenProfileId" name="profile_id">  <!-- Hidden input for user ID -->

                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

            <script>
                function setModalData(email, id,profile) {
                    // Set the email and ID in the modal
                    document.getElementById('sendLinkModalLabelEmail').innerText = email;
                    // You may want to store the user ID in a hidden input for the form
                    document.getElementById('hiddenUserId').value = id;
                    document.getElementById('hiddenProfileId').value = profile;

                }

                function setModalData2(email, id, profile) {
                    // Set the email and ID in the modal
                    document.getElementById('sendLinkModal2LabelEmail').innerText = email;
                    // You may want to store the user ID in a hidden input for the form
                    document.getElementById('hiddenUserId2').value = id;
                    document.getElementById('hiddenProfileId').value = profile;
                }
            </script>
            <script>
                function confirmDelete(event, userId) {
                    // Prevent the default link behavior
                    event.preventDefault();
            
                    // Show confirmation dialog
                    const userConfirmed = confirm('Are you sure you want to delete user with ID: ' + userId + '?');
            
                    // If the user clicks "OK", redirect to the delete URL
                    if (userConfirmed) {
                        const deleteUrl = "{% url 'users_list' %}?action=delete&id=" + userId;
                        window.location.href = deleteUrl;
                    }
                }
            </script>
            <script>

            
                // Function to filter rows
                function filterRows() {
                    const query = document.getElementById("searchInput").value.toLowerCase();
                    const table = document.getElementById("table");
                    const rows = table.getElementsByTagName("tr");
                    const filteredRows = [];
            
                    for (let i = 1; i < rows.length; i++) { // Start from 1 to skip header
                        const row = rows[i];
                        const cells = row.getElementsByTagName("td");
            
                        // Check if the row matches the search query
                        const matches = Array.from(cells).some(cell => {
                            return cell.innerText.toLowerCase().includes(query);
                        });
            
                        if (matches) {
                            filteredRows.push(row);
                        }
                    }
            
                    // Hide all rows first
                    for (let i = 1; i < rows.length; i++) {
                        rows[i].style.display = "none";
                    }
            
                    // Display filtered rows
                    filteredRows.forEach(row => {
                        row.style.display = "";
                    });
            
                    // Update pagination based on filtered results
                }
            
                
                
            </script>
            
            {% endblock content %}
