{% extends 'dashboard/template.html' %}


{% block content %}
    

{% load static %}
<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Edit Material Provide - #{{brand.uid}}</h5>
                     
                        </div>
                        <div class="container py-5">
                            <form method="POST" action="{% url 'update_service' brand.uid %}?type=basic_info"  enctype="multipart/form-data" class="row g-3">
                                {% csrf_token %}
                                {% comment %}<div class="col-md-6">
                                     <label for="profilePic" class="form-label">Profile Pic</label>
                                    <input type="file" name="profilepic" id="profilePic" class="form-control" onchange="previewImage('profilePic', 'profilePicimg')" />
                                    <div class="position-relative mt-2" id="profilePicimg" style="width: 20%;">
                                        {% if brand.profile_pic %}
                                            <img src="{{ brand.profile_pic.url }}" alt="Profile Preview" class="img-thumbnail" />
                                            <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" 
                                                    onclick="removeImage('profilePic')">X</button>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <!-- Brand Logo -->
                                <div class="col-md-6">
                                    <label for="brandlogo" class="form-label">Brand Logo</label>
                                    <input type="file" name="brandlogo" id="brandlogo" class="form-control" onchange="previewImage('brandlogo', 'brandlogoimg')" />
                                    <div class="position-relative mt-2" id="brandlogoimg" style="width: 50%;">
                                        {% if brand.brand_logo %}
                                            <img src="{{ brand.brand_logo.url }}" alt="Brand Logo Preview" class="img-thumbnail" />
                                            <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" 
                                                    onclick="removeImage('brandlogo')">X</button>
                                        {% endif %}
                                    </div>
                                </div> {% endcomment %}
                            
                                <!-- Project Showcase -->
                                {% comment %} <div class="col-md-12">
                                    <label for="projectShowcase" class="form-label">Project Showcase (up to 10 images)</label>
                                    {% if brand.profile_gallery.count > 0 %}
                                        <div class="d-flex flex-wrap mt-2 gap-2" id="galleryPreview">
                                            {% for preview in brand.profile_gallery.all %}
                                                <div class="position-relative"  id="img{{preview.id}}">
                                                    <img src="{{ preview.image.url }}" alt="Project Showcase" class="img-thumbnail" style="width: 100px;" />
                                                    
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <a href='{% url "update_gallery" brand.uid %}' target="_blank" class=" btn btn-secondary" style="width:20%;" >Edit Gallery</a>
                                </div> {% endcomment %}

                                <!-- Full Name -->
                                <div class="col-md-4">
                                    <label for="name" class="form-label">Brand Name</label>

                                    <input
                                        type="text"
                                        name="brand_name"
                                        value="{{ brand.brand_name|default_if_none:'' }}"
                                        placeholder="Brand Name"
                                        class="form-control"
                                        readonly
                                    />
                                </div>

                                <!-- Firm Name -->
                                <!-- Contact Person Name -->
                                <div class="col-md-4">
                                    <label for="contact_person_name">LasContact Person Name</label>
                                    <input
                                        type="text"
                                        id="contact_person_name"
                                        name="contact_person_name"
                                        value="{{ brand.contact_person_name |default_if_none:'' }}"
                                        placeholder="LasContact Person Name"
                                        class="form-control"
                                        readonly
                                    />
                                </div>

                                <!-- Contact Number -->
                                <div class="col-md-4">
                                    <label for="mobile">Contact Number</label>
                                    <input
                                        type="text"
                                        id="mobile"
                                        name="mobile"
                                        value="{{ brand.mobile|default_if_none:'' }}"
                                        placeholder="Contact Number"
                                        class="form-control"
                                        readonly
                                    />
                                </div>

                                <!-- Company Email -->
                                <div class="col-md-4">
                                    <label for="email">Email</label>
                                    <input
                                        type="email"
                                        id="email"
                                        name="email"
                                        value="{{ brand.email|default_if_none:'' }}"
                                        placeholder="Company Email"
                                        class="form-control"
                                        readonly
                                    />
                                </div>

                                <!-- Designation -->
                                <div class="col-md-4">
                                    <label for="designation">Designation</label>
                                    <input
                                        type="text"
                                        id="designation"
                                        name="designation"
                                        value="{{ brand.designation|default_if_none:'' }}"
                                        placeholder="Designation"
                                        class="form-control"
                                        readonly
                                    />
                                </div>

                                <!-- Firm Address -->
                                <div class="col-md-4">
                                    <label for="firmAddress"> Address</label>
                                    <textarea
                                        id="firmAddress"
                                        name="firmAddress"
                                        placeholder="Address"
                                        class="form-control"
                                        readonly
                                    >{{ brand.address |default_if_none:'' }}</textarea>
                                </div>

                                <!-- Country -->
                                <div class="col-md-4">
                                    <label for="country">Country</label>
                                    <select id="country" name="country" class="form-select" disabled onchange="fetchStates()">
                                        <option readonly selected>Select Country</option>
                                        <!-- Country options will be dynamically loaded here -->
                                    </select>
                                </div>

                                <!-- State -->
                                <div class="col-md-4">
                                    <label for="state">State</label>
                                    <select id="state" name="state" class="form-select" disabled onchange="fetchCities()">
                                        <option value="" readonly selected>Select State</option>
                                        <!-- State options will be dynamically loaded here -->
                                    </select>
                                </div>

                                <!-- City -->
                                <div class="col-md-4">
                                    <label for="city">City</label>
                                    <select id="city" name="city" class="form-select" disabled>
                                        <option value="" readonly selected>Select City</option>
                                        <!-- City options will be dynamically loaded here -->
                                    </select>
                                </div>


                                <!-- Pincode -->
                                <div class="col-md-4">
                                    <label for="pincode">Pincode</label>
                                    <input
                                        type="text"
                                        id="pincode"
                                        name="pincode"
                                        value="{{ brand.zip_code|default_if_none:'' }}"
                                        placeholder="Pincode"
                                        class="form-control"
                                        readonly
                                    />
                                </div>
                                <div class="mt-4 w-full col-md-6">
                                    <label class="block mb-1">Account Verified </label>
                                    <select name="verified" id="verified" class="form-select">
                                        <option value="No">No</option>
                                        <option value="Yes" {% if brand.is_active %}selected{% endif %}>Yes</option>
                                    </select>
                                </div>
                                <div class="col-md-6 " >
                                    <label for="category">Category</label>
                                    
                                    <!-- Hidden input to hold the list of selected categories -->
                                    <input type="hidden" name="new_categories" id="selected_categories" value="{% for category in brand.category.all %}{{ category.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                    
                                    <!-- Container for category dropdowns -->
                                    <div id="category-container" >
                                      
                                        <button type="button" class="btn btn-primary mt-3" id="add-category-btn">Add Category</button>
                                    </div>
                                    <!-- Button to add a new category -->
                                </div>
                                <div class="col-12 d-flex justify-content-end gap-2">
                                    <button
                                        type="button"
                                        onclick="toggleEditMode()"
                                        class="btn btn-outline-secondary"
                                    >
                                        Edit Profile
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        Save Changes
                                    </button>
                                </div>
                            </form>

                                <!-- Profile Pic -->
                                <div id="profile" class="mb-4 space-y-4 max-w-4xl">
                                    <label class="block mb-1">Representation</label>
                                    <div class="border border-gray-800 rounded-xl p-6">
                                
                                        <!-- Accordion Wrapper -->
                                        <div class="accordion" id="accordionExample">
                                            {% for i in brand.profile.all %}
                                            <!-- Accordion Item -->
                                            <div class="accordion-item mb-4">
                                                <!-- Accordion Header -->
                                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                                    <button 
                                                        class="accordion-button collapsed" 
                                                        type="button" 
                                                        data-bs-toggle="collapse" 
                                                        data-bs-target="#collapse{{ forloop.counter }}" 
                                                        aria-expanded="false" 
                                                        aria-controls="collapse{{ forloop.counter }}">
                                                        <span style="display:flex;justify-content: space-between;width: 100%;">
                                                            <span>Profile {{ forloop.counter }}: {{ i.category.get_category_hierarchy }}</span>
                                                            {% if i.is_active %}
                                                                <span style="color:green">** Verified</span>
                                                            {% else %}
                                                                <span style="color:red">** Not Verified</span>
                                                            {% endif %}
                                                        </span>
                                                    </button>
                                                </h2>
                                
                                                <!-- Accordion Body -->
                                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <!-- Editable Form for Each Profile -->
                                                        <form action="{% url 'update_service' brand.uid %}?type=professional&id={{i.id}}" method="POST" class="space-y-4" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="row">

                                                                <div class="mt-4 w-full col-md-4">
                                                                    <label class="block mb-1">Visible to everyone {% if not i.is_active %}<span style="font-size:12px;color:red">** Not Verified</span>{% endif %}</label>
                                                                    <select name="visible{{i.id}}" id="visible" {% if not i.is_active %} disabled {% endif %} class="form-select">
                                                                        <option value="No">No</option>
                                                                        <option value="Yes" {% if i.visible %}selected{% endif %}>Yes</option>
                                                                    </select>
                                                                </div>
                                                                <div class="mt-4 w-full col-md-4">
                                                                    <label class="block mb-1">Verified </label>
                                                                    <select name="verified{{i.id}}" id="verified" class="form-select">
                                                                        <option value="No">No</option>
                                                                        <option value="Yes" {% if i.is_active %}selected{% endif %}>Yes</option>
                                                                    </select>
                                                                </div>
                                                                <div class="mt-4 w-full col-md-4">
                                                                    <label class="block mb-1">Payment Status </label>
                                                                    <select name="payment_status{{i.id}}" id="payment_status" class="form-select">
                                                                        <option value="pending">Pending</option>
                                                                        <option value="In Process" {% if i.payment_status == 'In Process' %}selected{% endif %}>In Process</option>
                                                                        <option value="Code Sent" {% if i.payment_status == 'Code Sent' %}selected{% endif %}>Code Sent</option>
                                                                        <option value="Success" {% if i.payment_status == 'Success' %}selected{% endif %}>Success</option>
                                                                    </select>
                                                                </div>

                                                              
                                                            </div>
                                
                                                            <div class="mb-4 w-100">
                                                                <label class="block text-black mb-2">Brief Bio</label>
                                                                <textarea name="bio{{i.id}}" id="bio-editor-{{ forloop.counter }}" class="form-control editor" rows="3">{{ i.bio |safe }}</textarea>
                                                            </div>
                                
                                                            <!-- Social Links Fields -->
                                                            <div class="row">
                                                                <div class="col-lg-4 col-12 mb-3">
                                                                    <label class="block mb-1">Facebook</label>
                                                                    <input type="url" name="facebook{{i.id}}" value="{{ i.social_links.facebook }}" class="form-control">
                                                                </div>
                                                                <div class="col-lg-4 col-12 mb-3">
                                                                    <label class="block mb-1">Instagram</label>
                                                                    <input type="url" name="instagram{{i.id}}" value="{{ i.social_links.instagram }}" class="form-control">
                                                                </div>
                                                                <div class="col-lg-4 col-12 mb-3">
                                                                    <label class="block mb-1">LinkedIn</label>
                                                                    <input type="url" name="linkedin{{i.id}}" value="{{ i.social_links.linkedin }}" class="form-control">
                                                                </div>
                                                                <div class="col-lg-4 col-12 mb-3">
                                                                    <label class="block mb-1">Website</label>
                                                                    <input type="url" name="website{{i.id}}" value="{{ i.social_links.website }}" class="form-control">
                                                                </div>
                                                            </div>
                                
                                                            <!-- File Upload Fields for Profile Picture, Brand Logo, and Document -->
                                                            <div class="row mb-4">
                                                                <div class="col-md-4">
                                                                    <label for="profilePic" class="form-label">Profile Pic</label>
                                                                    <input type="file" name="profilepic{{i.id}}" accept="image/*" class="hidden profilePicInput" id="profilePicInput{{ forloop.counter }}" onchange="previewImage(event, 'profilePicPreview{{ forloop.counter }}')">
                                                                    <div class="position-relative mt-2" id="profilePicimg" style="width: 20%;">
                                                                       {% if i.profile_pic %}
                                                                           <img src="{{ i.profile_pic.url }}" alt="Profile Preview" class="img-thumbnail" />
                                                                           <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" 
                                                                                   onclick="removeImage('profilePic')">X</button>
                                                                       {% endif %}
                                                                   </div>
                                                               </div>
                                                               
                                                               <!-- Brand Logo -->
                                                               <div class="col-md-4">
                                                                   <label for="brandlogo" class="form-label">Brand Logo</label>
                                                                   <input type="file" name="brandlogo{{i.id}}" accept="image/*" class="hidden brandPicInput" id="brandPicInput{{ forloop.counter }}" onchange="previewImage(event, 'brandPicPreview{{ forloop.counter }}')">
                                                                   <div class="position-relative mt-2" id="brandlogoimg" style="width: 50%;">
                                                                       {% if i.brand_logo %}
                                                                           <img src="{{ i.brand_logo.url }}" alt="Brand Logo Preview" class="img-thumbnail" />
                                                                           <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" 
                                                                                   onclick="removeImage('brandlogo')">X</button>
                                                                       {% endif %}
                                                                   </div>
                                                               </div>
                                                               <div class="col-md-4">
                                                                <label for="brandlogo" class="form-label">File</label>
                                                                <input type="file" name="profileDocInput{{i.id}}" accept="application/pdf" class="hidden" id="profileDocInput{{ forloop.counter }}">
                                                                <div class="position-relative mt-2" id="brandlogoimg" style="width: 50%;">
                                                                    {% if i.profile_doc %}
                                                                        <a href="{{i.profile_doc.url}}" download class="btn btn-primary">Download</a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            </div>
                                
                                                            <!-- Save Button -->
                                                            <div class="d-flex justify-content-end">
                                                                <button type="submit" class="btn btn-primary m-1">Save</button>

                                                                <a href="{% url 'update_service' brand.uid %}?type=delete&profile_id={{i.id}}" class="btn btn-danger m-1" onclick="return confirmDelete();">Delete</a>
                                                            </div>
                                                            
                                                        </form>
                                                        <hr>
                                                        <h3>Gallery</h3>
                                                        <form method="POST" action="{% url 'update_service' brand.uid %}?type=gallery&id={{i.id}}" style="display: flex; flex-direction: column;justify-content: center;" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div id="profileDocContainer" class="border-dashed mt-2 rounded-lg border-2 flex flex-col border-gray-700 bg-[#171717] p-4 text-center">
                                                                <input type="file" name="img" multiple accept="image/**" class="w-fit mx-auto border rounded-lg  px-4 py-2 cursor-pointer"  id="profileDocInput">
                                                                    
                                                            </div>
                                                            <button type="submit" class="w-fit mx-auto border rounded-lg text-black px-4 py-2 cursor-pointer" >Save </button>
                                                        </form>
                                                        <!-- Showcase Images -->
                                                        <div class="border border-dark rounded p-3">
                                                            <div class="row">
                                                                {% for image in i.profile_gallery.all %}
                                                                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                                                    <div class="position-relative">
                                                                        <img src="{{ image.image.url }}" class="img-fluid rounded" alt="Showcase Image">
                                                                        <a href="{% url 'update_service' brand.uid %}?type=delete&image_id={{image.id}}" class="position-absolute top-0 end-0 bg-dark text-white p-2 rounded">x</a>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <!-- Buttons -->
                                
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->

    
</div>

    

<script>
    function toggleEditMode() {
        // Toggle the readonly attribute for all input fields
        const inputs = document.querySelectorAll('input[type="text"], textarea');
        inputs.forEach(input => {
            input.readOnly = !input.readOnly;
        });
        const inputs1 = document.querySelectorAll('input[type="select"]');
        inputs1.forEach(inputs => {
            inputs.disabled = !inputs.disabled;
        });
    }

    function previewImage(inputId, imgContainerId) {
        const input = document.getElementById(inputId);
        const imgContainer = document.getElementById(imgContainerId);

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                // Clear the previous image
                imgContainer.innerHTML = '';
                
                // Add new image
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = 'Preview';
                img.classList.add('img-thumbnail');

                // Add remove button
                const btn = document.createElement('button');
                btn.classList.add('btn', 'btn-danger', 'btn-sm', 'position-absolute', 'top-0', 'end-0');
                btn.innerHTML = 'X';
                btn.onclick = function() {
                    removeImage(inputId);
                };

                // Append the new image and remove button to the container
                imgContainer.appendChild(img);
                imgContainer.appendChild(btn);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    // Function to remove the image preview
    function removeImage(inputId) {
        const input = document.getElementById(inputId);
        const imgContainer = document.getElementById(inputId + 'img');
        
        // Clear the image container
        imgContainer.innerHTML = '';
        
        // Clear the file input
        input.value = '';
    }
    window.addEventListener('load', function() {
        setTimeout(function() {
            document.querySelectorAll('.cke_notification_close').forEach(function(element) {
                element.click();  // Programmatically click each element after 3 seconds
            });
        }, 2000);  // 3000 milliseconds = 3 seconds
    });
    document.querySelectorAll('.editor').forEach(editor => {
        let id = editor.getAttribute('id'); // Correct method to get the id
        CKEDITOR.replace(id); // Replace the editor with CKEditor
    });
    function confirmDelete() {
        return confirm('Are you sure you want to delete this profile?');
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetchCountries();
    });
    
    function fetchCountries() {
        fetch('https://countriesnow.space/api/v0.1/countries')
            .then(response => response.json())
            .then(data => {
                const countrySelect = document.getElementById('country');
                data.data.forEach(country => {
                    const option = document.createElement('option');
                    option.value = country.country;
                    option.text = country.country;
                    countrySelect.appendChild(option);
                });
                countrySelect.disabled = false;
    
                // Set default selected country
                countrySelect.value = '{{brand.country}}';
                fetchStates(); // Fetch states for the selected country
            })
            .catch(error => console.error('Error fetching countries:', error));
    }
    
    function fetchStates() {
        const country = document.getElementById('country').value;
        if (!country) return;
    
        fetch('https://countriesnow.space/api/v0.1/countries/states', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                country: country
            })
        })
        .then(response => response.json())
        .then(data => {
            const stateSelect = document.getElementById('state');
            stateSelect.innerHTML = '<option readonly selected>Select State</option>';
            data.data.states.forEach(state => {
                const option = document.createElement('option');
                option.value = state.name;
                option.text = state.name;
                stateSelect.appendChild(option);
            });
            stateSelect.disabled = false;
    
            // Set default selected state
            stateSelect.value = '{{brand.state}}';
            fetchCities(); // Fetch cities for the selected state
        })
        .catch(error => console.error('Error fetching states:', error));
    }
    
    function fetchCities() {
        const country = document.getElementById('country').value;
        const state = document.getElementById('state').value;
        if (!state || !country) return;
    
        fetch('https://countriesnow.space/api/v0.1/countries/state/cities', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                country: country,
                state: state
            })
        })
        .then(response => response.json())
        .then(data => {
            const citySelect = document.getElementById('city');
            citySelect.innerHTML = '<option readonly selected>Select City</option>';
            data.data.forEach(city => {
                const option = document.createElement('option');
                option.value = city;
                option.text = city;
                citySelect.appendChild(option);
            });
            citySelect.disabled = false;
    
            // Set default selected city
            citySelect.value = '{{brand.city}}';
        })
        .catch(error => console.error('Error fetching cities:', error));
    }
    
</script>


<script>
    // Function to update the hidden input field with selected category IDs
    function updateSelectedCategories() {
        let selectedCategories = [];
        document.querySelectorAll('.category-select').forEach(function(select) {
            selectedCategories.push(select.value);
        });
        document.getElementById('selected_categories').value = selectedCategories.join(',');
    }
    
    // Event listener for "Delete" buttons
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete-category-btn')) {
            // Remove the category row
            event.target.closest('.category-row').remove();
            // Update hidden input field
            updateSelectedCategories();
        }
    });
    
    // Event listener for "Add Category" button
    document.getElementById('add-category-btn').addEventListener('click', function() {
        // Get the category dropdown HTML
        const categoryDropdownHTML = `
        <div class="category-row">
            <select name="category" class="form-select category-select">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.get_category_hierarchy }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-danger delete-category-btn">Delete</button>
        </div>
        `;
        
        // Append new dropdown to the category container
        document.getElementById('category-container').insertAdjacentHTML('beforeend', categoryDropdownHTML);
        
        // Update hidden input field
        updateSelectedCategories();
    });
    
    // Event listener for changes in category dropdowns
    document.addEventListener('change', function(event) {
        if (event.target.classList.contains('category-select')) {
            // Update hidden input field when a new category is selected
            updateSelectedCategories();
        }
    });
    
    // On page load, update the hidden input field with the initially selected categories
    window.addEventListener('load', function() {
        updateSelectedCategories();
    });

    
</script>
{% endblock content %}
    